body {
}

.video-list{
    width: 50%;
    margin: 0 auto;
}

.video-container{
    border-radius: 25px;
    background: #F9F9F9;
    padding: 20px; 
    width: 700px;
    height: 150px; 
}

.video-thumbnail{
      -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(241, 241, 241);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(22, 122, 198);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(22, 122, 198);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(22, 122, 198);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(22, 122, 198);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(22, 122, 198);
  cursor: pointer;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 0px;
  height: 110px;
  line-height: 0px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: right;
  vertical-align: middle;
  width: 196px;
  float:left;
}

img.video-thumbnail{
      -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(22, 122, 198);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(22, 122, 198);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(22, 122, 198);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(22, 122, 198);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(22, 122, 198);
  cursor: pointer;
  display: inline;
  font-family: arial, sans-serif;
  font-size: 13px;
  height: 110px;
  line-height: 0px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(22, 122, 198);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: right;
  width: 196px;
}
.video-description-container{
      -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(118, 118, 118);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(118, 118, 118);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(118, 118, 118);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(118, 118, 118);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(118, 118, 118);
  cursor: pointer;
  display: block;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: 120px;
  line-height: 15.6000003814697px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: left;
  width: 457px;
}

.video-title {
      -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(118, 118, 118);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(118, 118, 118);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(118, 118, 118);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(118, 118, 118);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(118, 118, 118);
  cursor: pointer;
  display: block;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  line-height: 15.6000003814697px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 469px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 457px;
}

.video-description {
      -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  border-bottom-color: rgb(118, 118, 118);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(118, 118, 118);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(118, 118, 118);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(118, 118, 118);
  border-top-style: none;
  border-top-width: 0px;
  cursor: pointer;
  direction: ltr;
  display: -webkit-box;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: 30px;
  line-height: 15.6000003814697px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;
  max-height: 31.2000007629395px;
  max-width: 499px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  unicode-bidi: embed;
  white-space: normal;
  width: 457px;
  word-wrap: break-word;
}

.video-length {
      -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(118, 118, 118);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(118, 118, 118);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(118, 118, 118);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(118, 118, 118);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(118, 118, 118);
  cursor: pointer;
  display: block;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: 15px;
  line-height: 15.6000003814697px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 457px;
}

.video-published {
      -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(118, 118, 118);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(118, 118, 118);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(118, 118, 118);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(118, 118, 118);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(118, 118, 118);
  cursor: pointer;
  display: block;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: 15px;
  line-height: 15.6000003814697px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  width: 457px;
}