        <div id="content" class="col-sm-10">
            <!-- start: Content -->

            <div>
                <hr>
                <ul class="breadcrumb">
                    <li><a href="index.html#">Home</a></li>
                    <li><a href="index.html#">Dashboard</a></li>
                </ul>
                <hr>
            </div>

            <div class="row circleStats">
                 <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="circleStatsItem pink">
                        <i class="fa  fa-globe"></i>
                        <span class="plus">+</span>
                        <span class="percent">%</span>
                        <input type="text" value="23" class="pinkCircle" />
                    </div>
                    <div class="box-small-title">Visits</div>
                </div>

                
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="circleStatsItem green">
                        <i class="fa  fa-bar-chart-o"></i>
                        <span class="plus">+</span>
                        <span class="percent">%</span>
                        <input type="text" value="34" class="greenCircle" />
                    </div>
                    <div class="box-small-title">Training</div>
                </div>
                <!--/col-->

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="circleStatsItem red">
                        <i class="fa  fa-thumbs-up"></i>
                        <span class="plus">+</span>
                        <span class="percent">%</span>
                        <input type="text" value="58" class="orangeCircle" />
                    </div>
                    <div class="box-small-title">Mobility</div>
                </div>
                <!--/col-->

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="circleStatsItem blue">
                        <i class="fa  fa-bullhorn"></i>
                        <span class="plus">+</span>
                        <span class="percent">%</span>
                        <input type="text" value="8" class="blueCircle" />
                    </div>
                    <div class="box-small-title">Sleep</div>
                </div>
                <!--/col-->

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="circleStatsItem yellow">
                        <i class="fa  fa-user"></i>
                        <span class="plus">+</span>
                        <span class="percent">%</span>
                        <input type="text" value="12" class="yellowCircle" />
                    </div>
                    <div class="box-small-title">Diet</div>
                </div>
                <!--/col-->


                <!--/col-->

@*                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="circleStatsItem green">
                        <i class="fa  fa-bar-chart-o"></i>
                        <span class="plus">+</span>
                        <span class="percent">%</span>
                        <input type="text" value="34" class="greenCircle" />
                    </div>
                    <div class="box-small-title">Income</div>
                </div>
                <!--/col-->

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="circleStatsItem lightorange">
                        <i class="fa  fa-shopping-cart"></i>
                        <span class="plus">+</span>
                        <span class="percent">%</span>
                        <input type="text" value="42" class="lightOrangeCircle" />
                    </div>
                    <div class="box-small-title">Sales</div>
                </div>
                <!--/col-->*@

            </div>
            <!--/row-->

            <hr>
        </div>

@*<script src="@Url.Content("../../Areas/ChadMacKay/Content/perfectum/assets/js/pages/circle-stats.js")" type="text/javascript"></script>*@