<!DOCTYPE html>
<html>
  <head>
    <title>ITS BETA - Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
  
      <a id="home"></a>
      <!-- Fixed navbar 
      <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <a class="navbar-brand" id="logo" href="#home"><img src="assets/img/convoy_icon_gradient.png" /></a>
                  <a class="navbar-brand" id="brand" href="#home">CONVOY</a>
                  <a class="navbar-brand" id="navbar-tagline">Aspire for more</a>
              </div>
          </div>
      </div>-->

      <div id="headerwrap">
          <div class="container" id="space">

              @*<div class="header">
                  <div id="responsive_headline-l">Obstacle Course Training</div>
                  <div id="responsive_headline-xl">Lorem Ipsum Dolor Sit Amet</div>
              </div>*@


              @*<div class="subtitle-container">
                  <div class="subtitle">
                      Lorem ipsum dolor sit amet, justo mattis porta ut ut magna, vivamus blandit vitae cum erat nibh molestie. Habitasse in ligula nec, sem viverra sunt imperdiet nisl duis, purus molestie, rutrum mauris morbi parturient integer.
                  </div>
              </div>*@
              <div class="cta-body">
              <!--
                  <div class="cta-title">Coming soon! Request an invite.</div>

                  <form action="http://mailing.convoy.is/sendy/subscribe" method="POST" accept-charset="utf-8">
                      <div class="input-group">
                          <input type="email" name="email" id="email" class="form-control" placeholder="Enter your e-mail">
                          <span class="input-group-btn">
                              <input type="hidden" name="list" value="xGg0ArESRTB6qyMubsfvlA" />
                              <button name="submit" id="submit" class="btn btn-default" type="submit">JOIN THE CONVOY</button>
                          </span>
                      </div>
                  </form>

                  <div class="cta-disclaimer">* We won't share your email, nor spam you. Ever.</div> -->
              </div><!-- /cta-body -->
              @*<div class="link-features"><a href="#features"><i class="fa fa-chevron-circle-down fa-fw"></i>HOW IT WORKS</a></div>*@
          </div><!-- /container -->
          @*<div class="container" id="space"></div>*@
      </div><!-- /headerwrap -->


      <div class="about">
          <div class="about-pattern">
              <div class="container">

              <!--
                  <div class="users">

                      <div class="users-cycle">
                          <div class="cycle-slideshow" data-cycle-slides="> div" data-cycle-fx="scrollHorz" data-cycle-center-horz=true data-cycle-center-vert=true>
                              <div class="cycle-text-left" class="first">Scientist</div>
                              <div class="cycle-text-left">Historian</div>
                              <div class="cycle-text-left">Designer</div>
                              <div class="cycle-text-left">Philosopher</div>
                              <div class="cycle-text-left">Architect</div>
                              <div class="cycle-text-left">Gamer</div>
                              <div class="cycle-text-left">Engineer</div>
                              <div class="cycle-text-left">Musician</div>

                          </div>
                      </div>

                      <img src="assets/img/convoy_icon_circle.png" id="cycle-logo">

                      <div class="users-cycle">
                          <div class="cycle-slideshow" data-cycle-slides="> div" data-cycle-fx="scrollHorz" data-cycle-center-horz=true data-cycle-center-vert=true>
                              <div class="cycle-text-right" class="first">Filmmaker</div>
                              <div class="cycle-text-right">Illustrator</div>
                              <div class="cycle-text-right">Coder</div>
                              <div class="cycle-text-right">Journalist</div>
                              <div class="cycle-text-right">Cartoonist</div>
                              <div class="cycle-text-right">Teacher</div>
                              <div class="cycle-text-right">Writer</div>
                          </div>
                      </div>

                  </div> <!--users -->

                  <div id="about-text">Lorem ipsum dolor sit amet, justo mattis porta ut ut magna, vivamus blandit vitae cum erat nibh molestie. Habitasse in ligula nec, sem viverra sunt imperdiet nisl duis, purus molestie, rutrum mauris morbi parturient integer. <br/>
                   Ut non purus et dolor non libero, velit sapien sed nec suspendisse vel, purus sollicitudin maecenas eros nunc consectetuer, phasellus non quisque massa, id rutrum ligula nisl venenatis risus vestibulum. </div>

              </div><!--container-->
          </div>
      </div><!--about-->

      <a id="features"></a>
      <div class="features">
          <div class="container">
              <div class="row mt centered">
                  <div class="col-lg-6 col-lg-offset-3">
                      <h1>How it works.</h1>
                  </div>
              </div><!-- /row -->

              <div class="row mt ">


                  <div class="col-md-4">
                      <div class="wrapperFeatures">
                          <img src="~/Content/img/run.png" class="img-responsive" alt="">
                          <!-- <h4 style="color: #feb403">1. Dream aloud</h4> -->
                          <p>Ut non purus et dolor non libero, velit sapien sed nec suspendisse vel, purus sollicitudin maecenas eros nunc consectetuer, phasellus non quisque massa, id rutrum ligula nisl venenatis risus vestibulum. </p>
                      </div>
                  </div><!--/col-lg-4 -->

                  <div class="col-md-4">
                      <div class="wrapperFeatures">
                          <img src="~/Content/img/high5.png" class="img-responsive" alt="">
                          <!-- <h4 style="color: #9f7ab5">2. Let people in</h4> -->
                          <p>Eaque sit aliquet luctus nunc, mi amet tortor donec, orci non lorem morbi. Amet vestibulum leo nullam erat, est per massa vel laboriosam. Augue feugiat sed convallis, vitae cras neque ad vivamus, consequuntur pellentesque quis ipsum cras.</p>
                      </div>
                  </div><!--/col-lg-4 -->

                  <div class="col-md-4">
                      <div class="wrapperFeatures">
                          <img src="~/Content/img/swing.png" class="img-responsive" alt="">
                          <!-- <h4 style="color: #80caa4">3. Make stuff</h4> -->
                          <p>Volutpat vel maecenas eu tempus, accumsan quis sit aliquam. Sagittis rutrum pede nunc, dictum pellentesque consequat diam. Ut accumsan sed cras amet, nullam gravida taciti eu sit, egestas fringilla qui pede, conubia sem magna et vitae.</p>
                      </div>
                  </div><!--/col-lg-4 -->

              </div> <!-- End row -->

          </div><!-- container-->
      </div> <!-- End features -->

      <div class="your-terms">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-6 col-lg-push-6"><img src="~/Content/img/terms.png" class="img-responsive"></div>
                  <div class="col-lg-5 col-offset-lg-1 col-lg-pull-5">
                      <div class="your-terms-text">
                          <h1>Your terms.</h1>
                          <h3>Eget adipiscing dui fringilla maecenas, metus donec consequuntur ac rhoncus. Non duis ornare a euismod, nibh lectus nec purus. Justo integer quis mauris, mollis ut metus metus viverra, nec elit volutpat non, venenatis feugiat vel sed. Nascetur enim tellus condimentum a, urna mollis erat ullamcorper. Mollis ridiculus in lacus orci, sodales a donec ipsum, ante duis ultrices bibendum, in etiam non fusce est.</h3>
                      </div>
                  </div>
              </div><!-- /row -->
          </div>
      </div>

      <div class="forking">
          <div class="forking-pattern">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-6" style="padding-left: 0 !important;"><img src="~/Content/img/forking.png" class="img-responsive"></div>
                      <div class="col-lg-4 col-lg-offset-1">
                          <div class="forking-text">
                              <h1>Challenges.</h1>
                              <h3>Ridiculus nunc pede nec, magna ante dolor risus sit. Aliquet lacus maecenas sit, sapien wisi eu dapibus in, consequat suscipit consectetur wisi quam. Bibendum velit arcu curabitur et, integer vel ac vestibulum ante, in arcu et dapibus. Eu tincidunt nec pede primis, amet diam varius elementum. Purus erat felis erat egestas, a wisi nulla et scelerisque.<br /><br />
Conubia sit labore a, imperdiet vestibulum vitae dui, felis fames sapien ut mollis, velit et at erat nulla. Id quis nulla varius, bibendum elit commodo elit dolor, mattis eget magna aliquam proin, sapien curabitur in blandit et. Ac praesent blandit parturient, elit nulla curabitur fringilla, elit risus vitae est, nibh dui eget varius sit. Arcu montes ante sed odio, ullamcorper phasellus labore sodales. Et magna sed tellus, tincidunt ut sit non. Parturient libero eu est, suscipit et suspendisse nonummy, nam fermentum dapibus aenean.
                              </h3>
                          </div>
                      </div>
                  </div><!-- /row -->
              </div>
          </div>
      </div>

      <div class="benefits">

          <div class="container-fluid" >
              <h1>Why Us?</h1>
              <img src="~/Content/img/saturn.png" class="img-responsive" alt="">
              <h2 id="violet">Imperdiet urna luctus, amet sit libero.</h2>
              <p align="justify">
                  Vivamus vestibulum, dui euismod, nibh ut. Tortor lectus sit, justo sociis. Posuere vel, velit tempor volutpat, elementum arcu quis. Dui vestibulum id. Molestie a ligula.
              </p>
              <p align="justify">
                  Id sapien vulputate. Ut tortor, nibh rutrum volutpat, quisque sodales posuere. Rutrum mauris. Ut scelerisque. Porttitor nulla, nunc nulla. Sem praesent non, a justo sed.
              </p>
              <p align="justify">
                  Ad dui per, dolor scelerisque ante. Mi ultrices, lacus velit. Neque tortor consequatur, tellus non. Non at, et est duis. Mauris vestibulum viverra, lectus luctus. Purus augue, donec nec ante, sed ultricies sed.
              </p>
          </div><!-- container -->

          <div class="container-fluid" style="background: #e4e7f2;padding-top: 30px;">
              <img src="~/Content/img/chem.png" class="img-responsive" alt="">
              <h2 id="purple">Magna tempus, eros in, per vestibulum elit.</h2>
              <p>Vehicula at arcu pellentesque auctor, lobortis sed recusandae ridiculus quam. Ipsum etiam a vel, a eleifend ullamcorper amet occaecat. Et at lobortis tempus, nec est tortor ultricies convallis, suscipit pede vel id quis. Nascetur pede tristique convallis, commodo eu enim mi, ante mauris nulla interdum. Est porttitor neque labore, in massa vestibulum dolor, rhoncus pede velit fringilla vestibulum. Magna quis maecenas nulla aliquet, tortor sed sit nulla. Venenatis pretium ac elementum at, at duis consequat sagittis sequi, faucibus amet augue pede consequat. Nonummy a metus neque erat, nec ut et ut magnis, et bibendum nullam laoreet.</p>
          </div><!-- container -->

          <div class="container-fluid">
              <img src="~/Content/img/ants.png" class="img-responsive" alt="">
              <h2 id="red">Tristique ornare.</h2>
              <p>Dolor ad accumsan convallis, vehicula velit dolor aliquet facilis, mauris pharetra eget in urna. Lacinia in libero sapien cras, quam wisi eget turpis. In vitae non commodo, nulla pellentesque gravida nunc.</p>
          </div><!-- /container -->

      </div><!-- /benefits -->

      <div class="cta">
          <div class="container">
              <div class="cta-text centered" style="color: #f0f0f0;">Something about obstacle course training,</div>
              <div class="cta-text centered" style="color: #f0f0f0; ">and why you need to know about them</div>
              <div class="cta-body">
                  <div class="cta-title">Coming soon! Request an invite.</div>
                  <form action="#" method="POST" accept-charset="utf-8">
                      <div class="input-group">
                          <input type="email" name="email" id="email" class="form-control" placeholder="Enter your e-mail">
                          <span class="input-group-btn">
                              <input type="hidden" name="list" value="xGg0ArESRTB6qyMubsfvlA" />
                              <button name="submit" id="submit" class="btn btn-default" type="submit">JOIN UP</button>
                          </span>
                      </div><!-- /input-group -->
                  </form>
                  <div class="cta-disclaimer">* We won't sell your email, nor spam you. Ever.</div>
              </div>
          </div><!-- /container -->
      </div>

      @*<div class="team">
          <div class="container">
              <div class="row mt centered">
                  <div class="col-lg-6 col-lg-offset-3">
                      <h1>Who we are.</h1>
                  </div>
              </div><!-- /row -->

              <div class="row mt centered">

                  <div class="col-md-4">
                      <div class="profile">
                          <img class="img-square" src="assets/img/hayli.jpg" width="40%" alt="">
                          <h4><b>Hayli</b> Chwang</h4>
                          <h4 style="color: #919090">CEO</h4>
                          <p>A seasoned art director passionate about challenging the status quo. Hayli leads the Convoy team with her creative know-how and flare for problem solving, she loves to fight the good fight, whether it’s coding, design or how not to kill her cactus.</p>
                          <a href="mailto:hayli@convoy.is"><i class="fa fa-envelope-o"></i></a>
                      </div>
                  </div><!--/col-md-4 -->

                  <div class="col-md-4">
                      <div class="profile">
                          <img class="img-square" src="assets/img/jb.jpg" width="40%" alt="">
                          <h4><b>Jean-Baptiste</b> Béchu</h4>
                          <h4 style="color: #919090">Market Lead</h4>
                          <p>JB is the culture guru of the platform. He studied history and was an expert in trends and arts before deciding to use his skills to create a platform that would influence what he loves, and change what he hates. There are tons of both.</p>
                          <a href="mailto:jb@convoy.is"><i class="fa fa-envelope-o"></i></a>
                      </div>
                  </div><!--/col-md-4 -->

                  <div class="col-md-4">
                      <div class="profile">
                          <img class="img-square" src="assets/img/nils.jpg" width="40%" alt="">
                          <h4><b>Nils</b> Medina</h4>
                          <h4 style="color: #919090">Product Lead</h4>
                          <p>Nils is a self-taught hacker who works on the code behind Convoy. Raised in a celtic land, he travelled quite a bit before moving to Berlin. Now he collects records and worships pirates more than a grown man should.</p>
                          <a href="mailto:nils@convoy.is"><i class="fa fa-envelope-o"></i></a>
                      </div>
                  </div><!--/col-md-4 -->
              </div><!-- /row -->
          </div><!-- /container -->
      </div>*@

      <hr>

      <div class="contact-form">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">



                      <form name="contact" method="post" action="assets/send_form.php" accept-charset="UTF-8">
                          <div class="col-lg-6">
                              <h2><i class="fa fa-envelope-o fa-fw"></i> Drop us a line</h2>
                              <p class="lead">
                                  Question?</br>
                                  Suggestion?</br>
                                  Professional enquiry?</br>
                                  ...</br>
                                  We would be delighted to hear from you!
                              </p>
                          </div>

                          <div class="col-lg-6">
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                                      <span class="input-group-addon"><i class="fa fa-user form-control-feedback"></i></span>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                                      <span class="input-group-addon"><i class="fa fa-envelope form-control-feedback"></i></span>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="input-group">
                                      <textarea name="message" id="message" class="form-control" placeholder="Type your message..." rows="5" required></textarea>
                                      <span class="input-group-addon"><i class="fa fa-pencil form-control-feedback"></i></span>
                                  </div>
                              </div>
                              <!-- <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="InputReal" id="InputReal" placeholder="What is 1+2?" required>
                                    <span class="input-group-addon"><i class="fa fa-check form-control-feedback"></i></span></div>
                            </div> -->
                              <input type="submit" name="submit" id="submit" value="Send" class="btn">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>



      <div class="footer">
          <div class="container-fluid">
              <div class="row">

                  <div class="col-md-6">
                      <div class="row">
                          <div class="col-xs-4 hidden-md">&nbsp;</div>
                          <div class="col-12 col-xs-2">
                              <p><a target="_blank" href="https://www.facebook.com/convoyhq"><i class="fa fa-facebook centered"></i></a></p>
                          </div><!-- /col12 -->
                          <div class="col-12 col-xs-2">
                              <p><a target="_blank" href="https://twitter.com/cnvoy"><i class="fa fa-twitter centered"></i></a></p>
                          </div><!-- /col12 -->
                          <div class="col-xs-4 hidden-md">&nbsp;</div>
                      </div>
                  </div>

                  <div class="col-md-6">

                      <form action="http://mailing.convoy.is/sendy/subscribe" method="POST" accept-charset="utf-8">
                          <div class="input-group">
                              <input type="email" name="email" id="email" class="form-control" placeholder="Enter your e-mail">
                              <span class="input-group-btn">
                                  <input type="hidden" name="list" value="xGg0ArESRTB6qyMubsfvlA" />
                                  <button name="submit" id="submit" class="btn btn-default" type="submit">JOIN UP</button>
                              </span>
                          </div><!-- /input-group -->
                      </form>

                  </div>
              </div>

              <div class="disclaimer">
                  <p>This website and its content are copyright of Obstacle Course Training. All rights reserved.</p>
                  <p><a href="PrivacyPolicy.html"><i class="fa fa-fw fa-info-circle"></i>Privacy Policy</a>
              </div>

          </div><!-- /container -->
      </div><!-- /footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../Content/themes/itsBeta/HTML/assets/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../Content/themes/itsBeta/HTML/assets/js/bootstrap.min.js"></script>
    <!-- Below script is for demo purpose only -->
    <script src="../Content/themes/itsBeta/HTML/assets/js/style-switcher.js"></script>	
    <!-- IE Input Placeholder Fix -->
    <script src="../Content/themes/itsBeta/HTML/assets/js/jquery.placeholder.js"></script>
    <script type="text/javascript">$(function(){$('input, textarea').placeholder();});</script>
  </body>
</html>